<div>
    <form name="signupForm" id="signupform" ng-submit="save()">
        <fieldset>
            <legend>Sign UP</legend>
            <div class="input-div">
                <center><input type="text" placeholder="First Name" ng-model="firstName" size=50 required/></center>
                <center><input type="text" placeholder="Last Name" ng-model="lastName" size=50 required/></center>
                <center><input type="text" placeholder="Email Address" ng-model="email" size=50 required/></center>
            </div>
        </fieldset>
        <p>
        <div><center><button type="submit">Sign UP</button></center></div>
        </p>
    </form>
</div>